# Import

In [1]:
import pandas as pd

In [2]:
content_df = pd.read_excel('/.../minerva_3tables.xlsx', sheet_name='Sheet2')
user_df = pd.read_excel('/.../minerva_3tables.xlsx', sheet_name='Sheet3')
login_df = pd.read_excel('/.../minerva_3tables.xlsx', sheet_name='Sheet4')

# 3 Tables

## 1. content_df
### There are two ways to do this table. First, with the information on the problems. Second, without them.

#### The first way.

In [3]:
content_df.head()

,content_id,presentation_name,problem_content,problem_answer,tag1_weight,tag2_weight,tag3_weight
0,1,Divide,64/8,8,200,200,250
1,2,Divide,90/9,10,0,250,250
2,3,Divide,126/3,42,250,0,300

In [4]:
content_df2 = pd.read_excel('/Users/bentaylor/Documents/Minerva Learning/minerva_3tables.xlsx', sheet_name='Sheet2')

In [5]:
content_df2.head()

,content_id,presentation_name,problem_content,problem_answer,tag1_weight,tag2_weight,tag3_weight
0,1,Divide,64/8,8,200,200,250
1,2,Divide,90/9,10,0,250,250
2,3,Divide,126/3,42,250,0,300

In [6]:
content_df2.drop(columns=['presentation_name','problem_content','problem_answer'],inplace=True)

#### The second way.

In [7]:
content_df2.head()

   content_id  tag1_weight  tag2_weight  tag3_weight
0           1          200          200          250
1           2            0          250          250
2           3          250            0          300

## 2. user_df
### - Recorded information about each user. The "elo_score" and each "tagx_score" column would be aggregate functions based on David's forthcoming formula.
### - I'm not sure where to record each instance of getting an answer right or wrong. Does it make sense to record it on this table?

In [8]:
tag1_score = [200, 235, 280]
tag2_score = [300, 245, 260]
tag3_score = [200, 250, 230]

user_df.insert(7, 'tag1_score', tag1_score)
user_df.insert(8, 'tag2_score', tag2_score)
user_df.insert(9, 'tag3_score', tag3_score)

In [9]:
user_df.head()

,user_id,grade,sex,times_loggedin,first_login_date,avg_login_rate_weekly,elo_score,tag1_score,tag2_score,tag3_score
0,1,4,male,13,2021-02-02 11:00:00,5.0,1150,200,300,200
1,2,4,female,5,2021-02-05 10:30:00,2.5,3000,235,245,250
2,3,3,female,38,2021-01-15 10:30:00,7.0,1275,280,260,230

## 3. login_df
### I'm not sure what all to put in this table, or if we'll want it for the MVP.

In [10]:
login_df.head()

,login_time,logout_time,user_id,content_id,problem_number_for_session,is_correct,elo_score
0,2021-01-12 11:30:00,2021-01-12 12:00:00,4,55,12,True,2000
1,2020-12-29 10:00:00,2020-12-29 10:15:00,8,87,14,False,3340
2,2020-12-28 08:30:00,2020-12-28 08:45:00,22,3,2,True,2120